 .header-container {
     width: calc(100vw - 17px);
     height: 80px;
     background-color: white;

     display: flex;
     justify-content: space-between;
     align-items: center;

     z-index: 3;
     position: relative;
    overflow-x: hidden;
 }

 .navbar-container-active{
    width: calc(100vw - 17px);
    height: 50px;
    background-color: rgb(34, 34, 34); 
    display: flex;
    justify-content: flex-start;
    align-items: center;

    animation-name: slidedown;
    animation-duration: .5s;

    margin-top: 0px;
    opacity: 100%;
    position: absolute;
    z-index: 2;
    overflow-x: hidden;
    }

.navbar-container-inactive {
    width: calc(100vw - 17px);
    height: 50px;
    background-color: rgb(34, 34, 34); 
    display: flex;
    justify-content: flex-start;
    align-items: center;

    animation-name: slideup;
    animation-duration: .5s;

    margin-top: -50px;
    z-index:1;
    opacity:0;
    position: absolute;
    overflow-x: hidden;
    }

@keyframes slidedown {
    from {
        margin-top: -50px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 100%;
    }
}

@keyframes slideup {
    from {
        margin-top: 0px;
        opacity: 100%;
    }

    to {
        margin-top: -50px;
        opacity: 0;
    }
}

.hero-image-container {
    width: calc(100vw - 17px);
    height: 765px;
    background-image: url(../images/olomouc-townhall.jpg);
    background-size: cover;
    opacity: 0.85;
    overflow-x: hidden;
}

.homepage-body {
    height: 300px;
    width: calc(100vw - 17px);
    background-color: rgb(252, 245, 245);

    overflow-x: hidden;
}

.footer-container {
    height: 200px;
    width: calc(100vw - 17px);
    background-color: rgb(80, 80, 80);
    
    overflow-x: hidden;
}

.logo-container {
    height: 100%;

    display: flex;
    align-items: center;
}
.pepa-logo-header {
    height: 100%;
}

.upol-fac-header {
    height: 100%;
}

.socials-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.facebook-icon {
    height: 32px;
    width: 32px;
}

.instagram-icon {
    height: 32px;
    width: 32px;
    margin: 10px;
}

.menu-container {
    height: 100%;

    display: flex;
    align-items: center;

    z-index: 3;
}

.menu-icon {
    font-size: 45px;
    margin-left: 15px;
}

.menu-icon:hover {
    color: rgb(180, 17, 62);
}

.nav-item {
    height: 100%;
    color: rgb(252, 237, 237);
    font-size: 15px;
    padding: 0 20px;

    display: flex;
    align-items: center;
}

.nav-item:hover {
    background-color: rgb(180, 17, 62);
}

.nav-item-arrow {
    padding-left: 5px;
    opacity: 0.5;
}

.welcome-text {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-size: 48px;
}