 .header-container {
     width: 100vw;
     height: 75px;
     background-color: white;
 }

.navbar-container {
    width: 100vw;
     height: 75px;
     background-color: rgb(34, 34, 34);
}

.hero-image-container {
    height: 650px;
    width: 100vw;
    background-image: url(../images/olomouc-townhall.jpg);
    background-size: cover;
    opacity: 0.85;
}

.homepage-body {
    height: 300px;
    width: 100vw;
    background-color: rgb(252, 245, 245);
}

.footer-container {
    height: 200px;
    width: 100vw;
    background-color: rgb(80, 80, 80);
}

.logo-container {
    height: 100%;

    display: flex;
    justify-content: center;
}
.pepa-logo-header {
    height: 100%;
}

.upol-fac-header {
    height: 100%;
}

.socials-container {
    height: 100%;
}

.facebook-icon {
    height: ;
}

.instagram-icon {
    height: ;
}