 .header-container {
     width: calc(100vw - 20px);
     height: 75px;
     background-color: white;

     display: flex;
     justify-content: space-between;
     align-items: center;
 }

.navbar-container {
    width: 100vw;
     height: 75px;
     background-color: rgb(34, 34, 34);
}

.hero-image-container {
    height: 650px;
    width: calc(100vw - 20px);
    background-image: url(../images/olomouc-townhall.jpg);
    background-size: cover;
    opacity: 0.85;
}

.homepage-body {
    height: 300px;
    width: 100vw;
    background-color: rgb(252, 245, 245);
}

.footer-container {
    height: 200px;
    width: 100vw;
    background-color: rgb(80, 80, 80);
}

.logo-container {
    height: 100%;

    display: flex;
    align-items: center;
}
.pepa-logo-header {
    height: 100%;
}

.upol-fac-header {
    height: 100%;
}

.socials-container {
    height: 100%;
    padding-right: 10px;

    display: flex;
    align-items: center
}

.facebook-icon {
    height: ;
}

.instagram-icon {
    height: ;
}

.menu-container {
    height: 100%;

    display: flex;
    align-items: center;
}

.menu-icon {
    font-size: 45px;
    padding-left: 10px;
}